<div class="container">
  <h1 class="color-font">My offers</h1>
    <div class="row">
      <% @offers.each do |offer| %>
        <div class="col-xs-6 col-sm-4">
          <%= render 'shared/card', offer: offer %>
        </div>
      <% end %>
    </div>
</div>
