// Define variables for your color scheme

// For example:
$red: #E70E02;
$blue: #6A5ACD;
$yellow: #FFC43D;
$orange: #E24E1B;
$green: #59CD90;
$gray: #484848;
$light-gray: #FFFFFF;
$light-gray-border: #E4E4E4;
