.title-blue {
  font-family: 'Montserrat', sans-serif;
  color: $blue;
  background-color: rgba(255, 255, 255, .3);
  padding: 1px;
}

h3 {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}


