.photos-container {
  height: 75vh;
}

.offer-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.offer-photo:hover {
  opacity: 0.9;
  cursor: pointer;
}

.offer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.offer-info-container {
  width: 500px;
}

.offer-info-container h1 {
  margin: 0 0 10px 0;
}


.booking-form {
  border: 1px solid #E4E4E4;
  padding: 20px;
  position: sticky;
  top: 20px;
  height: 325px;
  width: 350px;
}

.color-font {
  color: #3A5FCD;
}

.offer-btn {
  font-family: "open sans";
  font-size: 12px;
  height: 28px;
  width: 60px;
  background-color: #43CD80;
  border: 1px solid white;
  border-radius: 4px 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
}

.offer-btn:hover {
  background-color: #99CC99;
  border: 1px solid white;
}
// Police du bouton "edit offer"

div.form-group.date.required.booking_end_date select {
  display: inline-block;
  width: auto;
}

div.form-group.date.required.booking_start_date select {
  display: inline-block;
  width: auto;
}

.book-btn {
  font-family: "open sans";
  font-size: 15px;
  width: 100%;
  height: 20px;
  border-radius: 4px 4px;
  text-align: center;
  vertical-align: middle;
  line-height: 1;

  padding-top: 1px;

}

.small-map {
  height: 500px;
  background-position: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-image {
  margin: auto;
  display: block;
  width: 80%;
}

#modal-close-btn {
  position: absolute;
  font-size: 30px;
  top: 50px;
  right: 30px;
}

#modal-close-btn:hover {
  color: #bbb;
  cursor: pointer;
}

.modal-image {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
