.photos-container {
  height: 75vh;
}

.offer-photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.offer-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.offer-info-container {
  width: 500px;
}

.offer-info-container h1 {
  margin: 0;
}


.booking-form {
  border: 1px solid #E4E4E4;
  padding: 20px;
  position: sticky;
  top: 20px;
  height: 300px;
  width: 350px;
}

.color-font {
  color: #3A5FCD;
}

.offer-btn {
  font-family: "open sans";
  font-size: 15px;
  letter-spacing: 2px;
}
// Police du bouton "edit offer"

div.form-group.date.required.booking_end_date select {
  display: inline-block;
  width: auto;
}

div.form-group.date.required.booking_start_date select {
  display: inline-block;
  width: auto;
}

.book-btn {
  width: 100%;
}

.small-map {
  height: 500px;
  background-position: center;
}
