<div class="wrapper">
  <div class="cards-container">
    <div class="row">
      <% @offers.each do |offer| %>
      <div class="col-xs-6 col-sm-4">
        <%= render 'shared/card', offer: offer %>
      </div>
      <% end %>
      <% if @offers.blank? %>
      <p>There are no offers containing the term <strong><%= params[:q] %></strong>.</p>
      <% end %>
    </div>
  </div>
  <div id="map" class="sticky-map" data-markers="<%= @markers.to_json %>" data-offers="<%= @offers.map { |offer| offer.to_json} %>">

  </div>
</div>

