<div class="banner">
  <div class="banner-content">
    <h1 class="stroke-1">Party Supplies</h1>
    <p>Make your events better</p>
  </div>
  <div class="row search-bar">
    <%= render "shared/search_bar" %>
  </div>
</div>
