<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://www.agiprodj.com/images/odyssey_fzf5437t_flight_zone_fold_out_dj_stand_table.jpg');">
  <div class="card-category"><%= offer.category %></div>
  <div class="card-description">
    <h2><%= offer.title %></h2>
    <h4><%= offer.price %>€</h4>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <%= link_to '', offer_path(offer), class: "card-link" %>
</div>
