<div class="footer footer-image" style="background-image: url('<%= cl_image_path "footer_background" %>');">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= cl_image_tag "logo", height: 50 %>
  <% end %>

  <div class="footer-links" align="center">
    <a href="#"><i class="fab fa-github-alt"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
