<div class="bg">
<%= form_tag search_path, :method => "get" do %>
    <%= text_field_tag :q, params[:q], placeholder: "Search Offers" %>
    <%= button_tag(type: "submit",name: nil) do %>
      <i class="fas fa-search"></i>
    <% end %>
<% end %>
</div>
