<%= render 'shared/banner' %>
<div class="container">
  <div class="row">
    <% @offers.each do |offer| %>
      <div class="col-xs-6 col-sm-4">
        <%= render 'shared/card', offer: offer %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% if @offers.blank? %>
      <p>There are no offers containing the term <%= params[:search] %>.</p>
    <% end %>
  </div>
</div>
