

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 50px;
  font-size: 24px;
}
.footer-links {
  display: flex;
  text-align: right;
  letter-spacing: 15px;
  text-shadow: 1px 1px 2px #FFFFE0;
}
.footer-links a {
  color: #0000CD;
  text-decoration: none
}
.footer-links a:hover {
  opacity: .6;
}

.footer-image {
  background-size: cover;
  opacity: .7;
}

.navbar-wagon-brand img {
  height: 50px;
}
